/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));  
}

.cartes{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));  
}

.cartes img{
    object-fit: cover;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1{
    font-size: 22px;
}

h2{
    font-size: 22px;
    margin: 0;
}

h3{
    font-size: 16px;
}


.InfoTexte{
    font-size: 16px;
}



/********** Header *********/
header{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}


.logo-booki{
    height: 19.2px;
    margin-top: 30px;

}

nav ul{
    display: flex;
    gap: 68px;
    margin: 0;
    
   
}

nav li{
    list-style: none;
    border-top: 2px solid #ffffff;
    padding-top: 14px;  
}

nav li:hover {
    border-top: 2px solid #0065FC;
}


nav a {
    text-decoration:none ;
    font-size: 16px;
    padding: 0;
    margin: 0;
    
}
.element{
    color: black;
    
}

.element:hover{
    color: #0065FC;
}

/********Section Filtres et recherches **********/

.filtre-recherche{
    margin-top: 60px;
}

.titre{
   margin-bottom: 0px;
}
.info {
    margin-top: 8px;
    margin-bottom: 35px;
}

.texte-i{
    margin: 0;
}


/* Formulaire Recherche */
.recherche{
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

.fa-location-dot{
    color: black;
    background-color: #F2F2F2;
    font-size: 110%;
    padding: 15px 20px 15px 20px;
    border-radius: 15px 0% 0% 15px;
    align-items: center;
}

.texte-formulaire{
    font-weight: 700;
    font-size: 18px;
    width: 195px;
    text-align: center;
    padding: 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    
    border-left: none;
    border-right: none;
}

.btn-rechercher{
font-weight: 700;
font-size: 18px;
padding: 15px 16px 15px 16px;
color: #ffffff;
background-color: #0065FC;
border: none;
border-radius:0% 15px 15px 0%;
width: 135px;
cursor: pointer;
}

/* POUR VERSION MOBILE */
.btn-rechercher-mobile{
    display: none;
    margin-left: -10px;
    font-size: 18px;
    background-color: #0065FC;
    border: none;
    border-radius:15px;
    width: 49px;
    height: 49px;
    padding: 15px 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.fa-magnifying-glass{
    color: #ffffff;
}

/* Filtre */

.filtres-div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.filtres-div p{
    margin: 0;
    margin-right: 15px;
    font-weight: 700;
}

.filtres-liste{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    row-gap: 20px;
    
}

.filtres{
   list-style: none;
   display: inline-block;
    font-weight: 700;
}

.btn-filtres{
    font-weight: 700;
    font-size: 17px;
    margin-right: 15px;
    background-color: #ffffff;
    border: solid;
    border-color: #D9D9D9;
    border-radius:30px ;
    border-width: 2px;
    padding: 15px 19px 15px 19px;
    cursor: pointer;
}

.fa-money-bill-wave{
    padding-right: 10px;             
}
.fa-person{
    font-size: 111%;
    padding-right: 10px;             
}
.fa-heart{
    padding-right: 10px;             
}
.fa-fire{
    padding-right: 10px;             
}

.btn-filtres:hover{
    background-color: #DEEBFF;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.fa-info{
    font-size: 13px ;
    margin-right: 20px;
    padding: 5px 10px;
    border:solid;
    border-color: #D9D9D9;
    border-radius: 50%;
    border-width :1px;
    
}


/****** Hebergements And Populaires ***********/

main{
    margin-bottom: 35px;
}



.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires a{
    text-decoration: none;
    color: black;
}



/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cartes a{
    display: block;
    flex: 1;
}



.hebergements-cartes{
    display: flex;
    flex-wrap: wrap;
    padding: 0;  
    column-gap: 30px;
}


.hebergements-titres{
    display: flex;
    justify-content: flex-start;
}

.cartes {
    display: flex;
    flex-direction: column;
    min-width: 182px;
    width: 100%;
    height: 215px;
    margin-bottom: 30px;
}

.hebergements-cartes img{
    width: 100%;
    min-height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cartes-contenu{
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.cartes-titres{
    margin-top: 8px;
    margin-bottom: 8px;
}

.cartes-sous-titres{
    margin: 0;
}

.cartes-icones{
   margin-top: 8px;
   padding-bottom: 15px;
}

.section-titre{
    margin-bottom: 30px;
}

.afficher{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* ********Activités************** */
.titre-activites{
    margin: 0;
}

.activites-marseille{
display: flex;
flex-direction: column;
padding: 30px;

}

.activites-marseille a{
    text-decoration: none;
    color: black;
}
    

.activites-toutes-cartes{
display: flex;
margin-top: 30px;
column-gap: 30px;
}


.activites-cartes{
display: flex;
flex-direction: column;
padding-bottom: 20px;
}

.activites-toutes-cartes a {
    flex: 1;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}



.activites-cartes img{
max-width: 297.5px;
width: 100%;
height: 380px;
border-top-left-radius: 20px;
border-top-right-radius: 20px; 
object-fit: cover; 
}


.activites-cartes h3{
    display: flex;
    justify-content: flex-start;


    margin: 0%;
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 19px;
    
} 

/* FOOTER */

footer{
    margin-top: 35px;
}

    
.liste-footer{
display: flex;
align-items: flex-start; 
background-color: #F2F2F2;  
}


h4{
    margin: 0;
    font-size: 18px;
}

.contenu-liste{
display: flex;
padding: 20px;
flex-direction: column;
flex: 1 0 0;
}

.contenu-liste ul{
    padding: 0;
    margin: 0;
    list-style: none;
}   
  
.contenu-liste li{
    padding-top: 15px;
    margin: 0;
}


   
















/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .filtres-div{
        display: block;
    }
    
    
    .main {
        flex-direction: column;
    }

    .btn-filtres{
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        max-width: 875px;
        min-width: 710px;
    }

    

    .populaires {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        
    }

    .populaires-cards a{
        display: block;
        flex: 1;  
    }

    .populaires-cards .card {
       display: flex;
       width: 100%;
    }


    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cartes img{
        height: 200px;
        }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container{
    width: 100%;
    padding: 0px 0px;
    box-sizing: border-box; 
    } 

    header{
    flex-direction: column;
    }


    .logo-booki{
        align-self: center;
        margin: 30px;
    }


    .logo-booki{
        width: 61px; 
    }

    nav ul{
        gap: 0;
        padding: 0%;
        width: 100%;
        justify-content: space-between;
    }

    nav li{
        width: 50%;
        text-align: center;
        border-top: 0;
        border-bottom: 2px solid #F2F2F2;
        padding-top: 0;
        padding-bottom: 15px;
    
    }

    nav li:hover {
        border-top: 0;
        border-bottom: 2px solid #0065FC;
        
    }

    .filtre-recherche{
        margin-top: 30px;
        padding: 0px 20px;
    }

    .titre{
        width: 90%;
    }

    .recherche{
        justify-content: center;
    }

    .texte-formulaire{
        width: 100%;
        margin-right: 0;
        
    }

    .btn-rechercher{
        display: none;
    }

    .btn-rechercher-mobile{
        display: block;
    }

    .filtres-liste{
        column-gap: 10px;

    }

    .filtres{
        width: 45%;
    }

    .btn-filtres{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 14px; 
        width: 100%;
        height: 50px;
        padding-left: 0%;
        padding-right: 0%;
    }




    .fa-money-bill-wave{
        font-size: 140%;          
    }
    .fa-person{
        font-size: 150%;
                    
    }
    .fa-heart{
        font-size: 150%;           
    }
    .fa-fire{
        font-size: 150%;           
    }


       
    .fa-info{
        margin-right: 10px;
    }

    .hebergements-and-populaires .populaires{
        padding: 30px 20px;
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements{
        padding: 20px;
        border-radius: 0;
        background-color: #ffffff;
    }

    .hebergements{
        order: 1;
        margin-top: 15px;
        padding: 20px;
        min-width: 0px;
    }

    .section-titre{
        margin-bottom: 15px;
    }

    .cartes{
        margin-bottom: 15px;
    }



    .populaires{
        margin-top: 0px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 0;
    }
    
    .populaires-cards .card {
        margin-top: 15px;
    }


    


    .activites-toutes-cartes{
        flex-direction: column;
        row-gap: 15px;
    }

    .activites-cartes img{
        max-width: none;
        height: 141px;
    }

    .liste-footer{
        flex-direction: column;
    }


















}